@import "tailwindcss";

body {
    @apply m-0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* I'm a bit confused about tailwind at the moment so these are temporary -Ben */
.button {
    width: 40%;
    height:auto;
    color:black;
    background-color: rgb(190, 201, 211);
    border: solid 1px black;
    border-radius:8px;
    display: flex;
    justify-content: center;
}

.button:hover{
    color:black;
    background-color: rgb(221, 226, 231);
    border: solid 1px black;
    box-shadow: 0px 2px 3px black;
}