/* I'm a bit confused about tailwind at the moment so these are temporary -Ben */
.button {
    width: 40%;
    height:auto;
    color:black;
    background-color: rgb(190, 201, 211);
    border: solid 1px black;
    border-radius:8px;
    display: flex;
    justify-content: center;
}

.buttonStyling {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  background-color: #fddbcdeb;
  color: #6c3b27ee;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  min-width: 200px;
  flex-shrink: 0;
  cursor: pointer;
  
}

.button:hover{
    color:black;
    background-color: rgb(221, 226, 231);
    border: solid 1px black;
    box-shadow: 0px 2px 3px black;
}